{% extends "main_template.html" %}
{% block hero %}
<div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
    <div class="col-lg-12 effect-bg">
    
        <div class=" lorem">
            <h3>LOREM IPSUM</h3>
        
        <ul>
            
            <li><a href="#about">sample Location</a></li>
            <li><a href="#menu">Main Information</a></li>
            <li><a href="#specials">Communication</a></li>
            
            <li><a href="#gallery">Industries</a></li>
        
            </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block main_box_wrapper %}
<div class="container">
    <div class="row">
        <a class="col-lg-4 col-md-6" href="/about">
            <div class="box_wrapper ">
                <div class="icon_box ">
                    <h3><img src="assets/img/effect3.png"></h3>
                    <span> <i class="fa fa-globe" aria-hidden="true"></i> </span>
                    <h4> ABOUT</h4>
                    <p>
                    Technology affects people all over the world. Advances in technology have made our
                        countries safer and our lives easier, they have also negatively affected our lives.
                        Technology have brought us online banking, smart cars, smart TVs, lightning fast computers,
                        and the virtual reality. Also there include cyber warfare, hackers, identity theft, cyber stalking,
                        and a host of other bad things.
                    </p>
                </div>
                <div class="effect-img"><img src="assets/img/effect3.png"></div>
            </div>
        </a>
        
        <a class="col-lg-4 col-md-6" href="/contact">
            <div class="box_wrapper ">
                <div class="icon_box ">
                    <h3><img src="assets/img/effect3.png"></h3>
                    <span> <i class="fa fa-lightbulb-o" aria-hidden="true"></i> </span>
                    <h4> CONTACT</h4>
                    <p>
        Technology affects people all over the world. Advances in technology have made our
                        countries safer and our lives easier, they have also negatively affected our lives.
                        Technology have brought us online banking, smart cars, smart TVs, lightning fast computers,
                        and the virtual reality. Also there include cyber warfare, hackers, identity theft, cyber stalking,
                        and a host of other bad things.
                    </p>
                </div>
                <div class="effect-img"><img src="assets/img/effect3.png"></div>
            </div>
        </a>
        <a class="col-lg-4 col-md-6" href="/face_reco/">
            <div class="box_wrapper ">
                <div class="icon_box ">
                    <h3><img src="assets/img/effect3.png"></h3>
                    <span> <i class="fas fa-camera" aria-hidden="true" style="font-size:70px;" ></i> </span>
                    <h4> FACE RECO</h4>
                    <p>
                    
                        Technology affects people all over the world. Advances in technology have made our
                        countries safer and our lives easier, they have also negatively affected our lives.
                        Technology have brought us online banking, smart cars, smart TVs, lightning fast computers,
                        and the virtual reality. Also there include cyber warfare, hackers, identity theft, cyber stalking,
                        and a host of other bad things.
                    
                    
                    
                    </p>
                </div>
                <div class="effect-img"><img src="assets/img/effect3.png"></div>
            </div>
        </a>
        
    </div>
</div>
{% endblock %}